html {
  --purple: #833FAF;
  --white: #FFFFFF;
  --black: #2B2131;
}

* {
  box-sizing: border-box;
}

body {
  background-color: #fdfdfd;
}

.container {
  width: calc(100% - 64px);
  max-width: 992px;
  margin-inline: auto;

  &.rel {
    position: relative;
  }

  @media (min-width: 480px) and (max-width: 767px) {
    max-width: 40ch;
  }
}